.black-pel {
	color: black;
	padding: 2%;
	border-right: 1px solid;
}

.time {
	width: 100%;
	text-align: left;
	padding:1% 2% 2% 2%;
}

.btn-content {
	width: 100%;
	text-align: right;
	padding:1% 2% 2% 2%;
}

.btn-masuk {
	border-radius: 5px
}

.square {
	background-color: black;
}

.contentime {
	width: 100%;
	background-color: lightgrey;
}